Add New Course</br>
<input type='hidden' value='course' name='table_name' />
<div class='form_input'>course_id:
    <input class='input_box' type='number' name='course_id' value='' maxlength='4'> </div>
<br>
<div class='form_input'>School Id
    <select class='input_box' name='school_id'>
        <option value='1'>ICT</option>
        <option value='2'>LAW</option>
    </select>
</div>
</br>
<div class='form_input'>title:
    <input class='input_box' type='text' name='title' value='' maxlength='50'> </div>
<br>
<div class='form_input'>convenor_id:
    <input class='input_box' type='number' name='convenor_id' value='' maxlength='10'> </div>
<br></br>
<div class='relationships_table'>
    </br>Debug Objects: </br>
    <table id='course'>
        <tr>
            <th></th>
            <th class='header_cell' onclick="reorder_table('course', 'course_id')">course_id</th>
            <th class='header_cell' onclick="reorder_table('course', 'school_id')">school_id</th>
            <th class='header_cell' onclick="reorder_table('course', 'title')">title</th>
            <th class='header_cell' onclick="reorder_table('course', 'convenor_id')">convenor_id</th>
        </tr>
        <tr class='editable_row'>
            <td>
                <input type='checkbox' name='course[]' value='0_comp_1_comp_'>
            </td>
            <td>0</td>
            <td>ICT</td>
            <td>web</td>
            <td>0</td>
        </tr>
        <tr class='editable_row'>
            <td>
                <input type='checkbox' name='course[]' value='0_comp_2_comp_'>
            </td>
            <td>0</td>
            <td>LAW</td>
            <td>sdfsdfsdf</td>
            <td>0</td>
        </tr>
        <tr class='editable_row'>
            <td>
                <input type='checkbox' name='course[]' value='1012_comp_1_comp_'>
            </td>
            <td>1012</td>
            <td>ICT</td>
            <td>Propro</td>
            <td>0</td>
        </tr>
        <tr class='editable_row'>
            <td>
                <input type='checkbox' name='course[]' value='1222_comp_1_comp_'>
            </td>
            <td>1222</td>
            <td>ICT</td>
            <td>Skillful course2</td>
            <td>0</td>
        </tr>
        <tr class='editable_row'>
            <td>
                <input type='checkbox' name='course[]' value='2222_comp_1_comp_'>
            </td>
            <td>2222</td>
            <td>ICT</td>
            <td>Skillful course2</td>
            <td>0</td>
        </tr>
        <tr class='editable_row'>
            <td>
                <input type='checkbox' name='course[]' value='3322_comp_1_comp_'>
            </td>
            <td>3322</td>
            <td>ICT</td>
            <td>Skillful course2</td>
            <td>0</td>
        </tr>
        <tr class='editable_row'>
            <td>
                <input type='checkbox' name='course[]' value='4422_comp_1_comp_'>
            </td>
            <td>4422</td>
            <td>ICT</td>
            <td>Skillful course2</td>
            <td>0</td>
        </tr>
        <tr class='editable_row'>
            <td>
                <input type='checkbox' name='course[]' value='4442_comp_1_comp_'>
            </td>
            <td>4442</td>
            <td>ICT</td>
            <td>coursetwenty</td>
            <td>0</td>
        </tr>
        <tr class='editable_row'>
            <td>
                <input type='checkbox' name='course[]' value='7777_comp_1_comp_'>
            </td>
            <td>7777</td>
            <td>ICT</td>
            <td>coursetwenty3</td>
            <td>0</td>
        </tr>
        <tr class='editable_row'>
            <td>
                <input type='checkbox' name='course[]' value='8880_comp_1_comp_'>
            </td>
            <td>8880</td>
            <td>ICT</td>
            <td>coursetwenty3</td>
            <td>0</td>
        </tr>
        <tr class='editable_row'>
            <td>
                <input type='checkbox' name='course[]' value='8888_comp_1_comp_'>
            </td>
            <td>8888</td>
            <td>ICT</td>
            <td>Skillful course</td>
            <td>0</td>
        </tr>
    </table>
    </br>
</div>
</br>Debug Objects: </br>
<table id='course'>
    <tr>
        <th class='header_cell' onclick="reorder_table('course', 'course_id')">course_id</th>
        <th class='header_cell' onclick="reorder_table('course', 'school_id')">school_id</th>
        <th class='header_cell' onclick="reorder_table('course', 'title')">title</th>
        <th class='header_cell' onclick="reorder_table('course', 'convenor_id')">convenor_id</th>
    </tr>
    <tr class='clickable_row' onclick="go_to_record('course', '0')">
        <td>0</td>
        <td>ICT</td>
        <td>web</td>
        <td>0</td>
    </tr>
    <tr class='clickable_row' onclick="go_to_record('course', '0')">
        <td>0</td>
        <td>LAW</td>
        <td>sdfsdfsdf</td>
        <td>0</td>
    </tr>
    <tr class='clickable_row' onclick="go_to_record('course', '1012')">
        <td>1012</td>
        <td>ICT</td>
        <td>Propro</td>
        <td>0</td>
    </tr>
    <tr class='clickable_row' onclick="go_to_record('course', '1222')">
        <td>1222</td>
        <td>ICT</td>
        <td>Skillful course2</td>
        <td>0</td>
    </tr>
    <tr class='clickable_row' onclick="go_to_record('course', '2222')">
        <td>2222</td>
        <td>ICT</td>
        <td>Skillful course2</td>
        <td>0</td>
    </tr>
    <tr class='clickable_row' onclick="go_to_record('course', '3322')">
        <td>3322</td>
        <td>ICT</td>
        <td>Skillful course2</td>
        <td>0</td>
    </tr>
    <tr class='clickable_row' onclick="go_to_record('course', '4422')">
        <td>4422</td>
        <td>ICT</td>
        <td>Skillful course2</td>
        <td>0</td>
    </tr>
    <tr class='clickable_row' onclick="go_to_record('course', '4442')">
        <td>4442</td>
        <td>ICT</td>
        <td>coursetwenty</td>
        <td>0</td>
    </tr>
    <tr class='clickable_row' onclick="go_to_record('course', '7777')">
        <td>7777</td>
        <td>ICT</td>
        <td>coursetwenty3</td>
        <td>0</td>
    </tr>
    <tr class='clickable_row' onclick="go_to_record('course', '8880')">
        <td>8880</td>
        <td>ICT</td>
        <td>coursetwenty3</td>
        <td>0</td>
    </tr>
    <tr class='clickable_row' onclick="go_to_record('course', '8888')">
        <td>8888</td>
        <td>ICT</td>
        <td>Skillful course</td>
        <td>0</td>
    </tr>
</table>
</br>