body {
      background:#ddd; 
}

.table_container {
    left:20%;
    position:relative;
    width:40em;

}

.table_overflow {
    max-height:20em;
    overflow:auto;

}

table {
    border:black solid 2px;
    border-collapse:collapse;
    clear:both;
    width:40em;

}

table tr:nth-child(2n){
    background: #f0f0f0;
}

td, th {
    border:black solid 2px;
    padding:0em 0.5em 0em 0.5em;
  
}

#header {
    overflow: hidden;
    background:rgb(200, 200, 200);
    width:100%;
    clear:both;
    position:fixed;
    z-index:1;
    top:0;
    left:0;

}

.title {
    font-weight:bold;
}

#header_items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    left:20%;    
    position:relative;
    font-weight:bold;
    font-size:125%;
}

li {
    float:left;
    margin: 20px 60px 20px 10px;
    padding: 5px;
    border: rgb(205, 80, 80) ridge 3px;
    background:red;
    cursor: pointer; 

}

li:hover {
    border: red ridge 3px;
    background:green;
   
}

.input_box {
    left:20%;
    position:absolute;

}

#content {
    width:80%;
    margin:auto;
    background:#fff;
    padding:2em;
}

.editable_row {
    
}

.clickable_row {
    cursor: pointer;     
}
.clickable_row:hover {
    background:rgb(200, 200, 200);
    
}
.header_cell {
    cursor: pointer;     
   
}

.header_cell:hover {
    background:rgb(160, 160, 160);
    
}

.a_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding:0em 0.5em 0em 0.5em;
}

#edit_button {
    left:80%;
    top:10em;
    position:absolute;
}

.invisible {
    display:none;
}

footer {
    position:fixed;
    left:0%;
    bottom:0%;
    height:5%;
    width:100%;
    background:#444;
    color:#eee;
    z-index:1;
}


.placeable_row {
    cursor: pointer;     
}
.placeable_row:hover {
    background:rgb(200, 200, 200);
}

.equation_creation {
    border: red ridge 3px;
    padding:0.5em;
    margin:1em;
    
}

.highlighted_row {
    background:#c44;
}
table .highlighted_row:nth-child(2n){
    background: #c88;
}
table .highlighted_row:hover {
    background:rgb(200, 200, 200);
}
